body {
  font-family: 'Roboto', sans-serif;
}

ul {
list-style: none;
}

a, .address-contacts {
text-decoration: none;
font-style: normal;
}

:root {
  --main-color: #212121;
  --color-text: #757575;
  --main-text-height: 1.71;
  --text-height: 1.14;
}

/* ------------------------NAVIGATION---------------------------- */

.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.logo-style {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: var(--text-height);
  letter-spacing: 0.02em;
  color: var(--main-color)
}

.nav-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: var(--text-height);
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.nav:hover,
.nav-contacts:hover,
.address-contacts:hover {
  color: #2196F3;
}

/* ------------------------HAT---------------------------- */

.hat {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.hat-btn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  cursor: pointer;
}

/* ------------------------PECULIARITIES---------------------------- */

.peculiarities-title {
  font-weight: 700;
  font-size: 14px;
  line-height: var(--text-height);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color)  
}

.peculiarities-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-text);
}

/* ------------------------WE-DO---------------------------- */

.we-do {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color)
}

/* ------------------------TEAM---------------------------- */

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);  
}

.member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color)
}

.member-skill {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text);
}

/* ------------------------FOOTER---------------------------- */

.address {
  font-style: normal;
  font-size: 14px;
  line-height: var(--main-text-height);
  letter-spacing: 0.03em;
  color: #FFFFFF;  
}
.address-contacts {
  font-size: 14px;
  line-height: var(--main-text-height);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}